.main {
    width: 100%;
    float: left;
}
.bodySection{
    width: 100%;
    float: left;
    margin-top: 110px;
}
.bodySection.fixed_header {
    margin-top: 0;
}

.homeBanner{
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.homeBanner_inr{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.homeBanner_slider{
    width: 100%;
    float: left;
}
.homeBanner_single{
    width: 100%;
    float: left;
}
.homeBanner_left{
    width: 100%;
    float: left;
    max-width: 640px;
    margin-top: 100px;
    /* margin-left: 100px; */
}
.homeBanner_left h1{
    font-weight: 100;
    color: #00144C;
    font-size: 50px;
    margin-top: 0;
}
.homeBanner_right {
    width: 100%;
    float: right;
    max-width: 600px;
    text-align: center;
    margin-top: 40px;
}
.homeBanner_right img{
    /* width: 100%; */
}
.calltoActions{
    width: 100%;
    float: left;
    text-align: center;
}
.cta_full_color{
    width: 100%;
    max-width: 244px;
    color: #fff;
    float: left;
    margin-right: 20px;
}
.cta_full_color a{
    color: #fff;
    font-size: 20px;
    padding: 14px 0;
    width: 100%;
    float: left;
    font-weight: 600;
    background: #CB0A7A 0% 0% no-repeat padding-box;
    border-radius: 4px;
}
.cta_outline_color{
    width: 100%;
    max-width: 244px;
    color: #fff;
    float: left;
}
.cta_outline_color a{
    font-size: 20px;
    padding: 12px 0;
    width: 100%;
    float: left;
    font-weight: 600;
    border-radius: 4px;
    color: #CB0A7A;
    border: 2px solid #CB0A7A;
}
.cta_outline_color a i{
    vertical-align: bottom;
}
.homeBanner_slider_navigation{
    width: 100%;
    float: left;
}
.homeBanner_slider_navigation ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    max-width: 390px;
}
.homeBanner_slider_navigation ul li{
    flex-grow: 1;
    max-width: 130px;
    background: #E2E8F0 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #00144C;
    padding: 9px 0;
}
.homeBanner_slider_navigation ul li.activeSlide{
    background: #00144C 0% 0% no-repeat padding-box;
    color: #fff;
    -webkit-transform: scale(1.15);
        transform: scale(1.15);
}
.homeBanner_slider_nav_icon{
    width: 100%;
    float: left;
    font-size: 28px;
    margin-bottom: 10px;
}
.homeBanner_slider_nav_text{
width: 100%;
float: left;
text-align: center;
font-size :14px;
letter-spacing: 0.14px;

opacity: 1;
font-weight: 600;
}

/* Grid */
.homeGrid{
    width: 100%;
    float: left;
    padding: 70px 0;
    /* background: #F2F3F6; */
}
.homeGrid_inr{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.homeGridList{
    width: 100%;
    float: left;
}
.homeSingleGrid{
    width: calc(33.33% - 4px);
    float: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* border: 2px solid #F2F3F6; */
    height: 337px;
    text-align: center;
}
.homeSingleGrid:hover{
    z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.homeSingleGridinr{
    padding: 80px 50px 0px 50px;
    width: calc(100% - 100px);
    float: left;
}
.homeSingleGridIcon{
    margin: 0 auto;
    width: 100%;
    float: left;
    height: 95px;
    margin-bottom: 20px;
}
.homeSingleGridIcon img{
    width: 90px;
}
.homeSingleGridContent{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0;
    color: #00144C;
    opacity: 1;
    line-height: 1.4;
}


/* available divices */
.homeAvailableDivices{
    width: 100%;
    float: left;
    background: #f9f9fb;
    padding: 140px 0;
}
.homeAvailableDivices_inr{
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.homeAvailableDivices_left{
    width: calc(47% - 100px);
    float: left;
    padding-left: 90px;
    padding-right: 10px;
}
.homeAvailableDivices_left h3{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0;
    color: #00144C;
    opacity: 1;
    margin-top: 0;
}
.homeAvailableDivicesText{
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    color: #00144C;
    opacity: 1;
    line-height: 1.4;
}
.homeAvailableDivicesIcons{
    width: 100%;
    float: left;
    margin-top: 25px;
}
.homeAvailableDivicesIcons ul{
    width: 100%;
    float: left;
}
.homeAvailableDivicesIcons ul li{
    float: left;
    margin-right: 35px;
}
.homeAvailableDivicesIcons ul li img{
    max-width: 170px;
}
.homeAvailableDivicesIcons ul li a{
    
}
.homeAvailableDivices_right{
    float: right;
    width: 48%;
}
.homeAvailableDivices_right img{
    max-width: 100%;
}

.homeTestimonials{
    width: 100%;
    float: left;
    padding: 70px 0;
}
.homeTestimonialsInr{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.homeTestimonialsDropShadow{
    text-align: center;
    font-size: 90px;
    color: #F2F3F6;
}
.homeTestimonialCurrent_author_img img{
    margin: 0px auto;
}
.homeTestimonialsLogos{
    width: 100%;
    float: left;
    padding: 100px 0 0 0;
    border-bottom: 2px solid #f2f3f6;
}
.homeTestimonialsLogos_inr{
    width: 100%;
    float: left;
}
.homeTestimonialsLogos_inr ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 650px;
    margin: 0 auto;
}
.homeTestimonialsLogos_inr ul li{
    flex: 1;
    padding: 0 20px;
    text-align: center;
    margin-bottom: -2px;
}
.homeTestimonialsLogos_inr ul li img{
    width: 100%;
    max-width: 97px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.activeTestimonials{
    border-bottom: 3px solid #00144C;
}
.activeTestimonials img{
    -webkit-filter: grayscale(0) !important;
    filter: grayscale(0) !important;
}
.homeTestimonialCurrent{
    width: 100%;
    float: left;
    padding: 40px 0 0 0;
}
.homeTestimonialCurrentInr{
    width: 100%;
    float: left;
}
.homeTestimonialCurrent_Content{
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    color: #00144C;
    line-height: 1.4;
}
.homeTestimonialCurrent_author{
    width: 100%;
    float: left;
    padding: 40px 0 0 0;
    text-align: center;
    color: #00144C;
}
.homeTestimonialCurrent_author_img{

}
.homeTestimonialCurrent_author_img img{
    border-radius: 50%;
    max-width: 60px;
}
.homeTestimonialCurrent_author_name{
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 600;
    padding: 6px 0;
}
.homeTestimonialCurrent_author_designation{
    font-size: 14px;
}


.CallToAction{
    width: 100%;
    float: left;
    background: url('../../assets/images/cta_bg.png') no-repeat center;
    background-size:cover;
    color: #ffffff;
    line-height: 1.5;
}
.CallToAction a{
    color: #ffffff;
}
.callToAction_main{
    width: 100%;
    float: left;
    padding: 150px 0;
    background: rgba(0, 0, 0, 0.76);
}
.callToAction_inr{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
}
.CallToAction_title{
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
    letter-spacing: 0;
}
.CallToAction_content{
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}
.CallToAction_btn{
    width: 100%;
    padding: 40px 0 0 0;
    max-width: 250px;
    margin: 0 auto;
}
.CallToAction_btn_inr{
    text-align: center;
    width: 100%;
    float: left;
}
.CallToAction_btn_inr a{
    background: #CB0A7A 0% 0% no-repeat padding-box;
    border-radius: 4px;
    padding: 20px 0px;
    width: 100%;
    float: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}