@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* inner page Banner */



.video {
    text-align: center;
    padding: 70px 0px 40px 0px;
}

.who_is_byndr {
    padding: 120px 0px 70px 0px;
    width: 100%;
    float: left;
}
.who_is_byndr_main {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}
.who_is_byndr_right_block {
    width: 48%;
    float: right;
}
.who_is_byndr_left_block {
    width: 48%;
    float: left;
}
.who_is_byndr_blocks {
    width: 100%;
    float: left;
    padding: 50px 0px;
}
.widget_block_title {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    color: #707070;
    margin-bottom: 15px;
}
.widget_block_title span {
    color: #CB0A7A;
}
.content {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
.widget_button a {
    width: 198px;
    padding: 18px 53px;
    background: #CB0A7A 0% 0% no-repeat padding-box;
    border: 2px solid #CB0A7A;
    border-radius: 4px;
    opacity: 1;
    font-size: 20px;
    color: #fff;
}
.widget_button {
    margin-top: 50px;
}

.core_capabilities.bg_gray li:before {
    content: "\f0ca";
    width: 51px;
    height: 47px;
    position: absolute;
    left: -14px;
    top: -10px;
    background: #CB0A7A;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 40px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    border-radius: 50%;
    padding: 20px 11px 14px 18px;
    line-height: 1;
}
.li_title {
    font-size: 32px;
    color: #333333;
    line-height: 30px;
    margin-bottom: 15px;
}
.core_capabilities_main {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}
.core_capabilities {
    width: 100%;
    padding: 120px 0px 80px 0px;
    float: left;
}
.bg_gray{
    background: #f9f9fb;
}
/* vision and mission */





/*subscribe block*/
  .subscribe_inr {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.subscribe_block {
    width: 100%;
    float: left;
    background: #00144C;
    background-size: cover;
    color: #ffffff;
    line-height: 1.5;
}
.subscribe_block {
    width: 100%;
    float: left;
    background: #00144C;
    background-size: cover;
    color: #ffffff;
    line-height: 1.5;
}
.subscribe_title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    letter-spacing: 0;
    font-weight: 300;
}
.subscribe_content {
    text-align: center;
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 300;
}
.subscribe_main {
    width: 100%;
    float: left;
    padding: 120px 0px;
}
.fileds_block input[type="email"] {
    width: 360px;
    height: 50px;
    padding: 10px;
    color: #00144C;
    font-size: 18px;
    font-weight: 300;
    border-radius: 2px;
    border: 1px solid #fff;
}
.subscribe {
    width: 550px;
    margin: 0px auto;
}
.fileds_block {
    margin-top: 60px;
    width: 100%;
    float: left;
}
.fileds_block input[type="submit"] {
    border-radius: 2px;
    background: #CB0A7A 0% 0% no-repeat padding-box;
    padding: 15px 0px;
    width: 170px;
    float: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    border: none;
    color: #fff;
}

/*testimonial */
.testimonial_inr {
    width: 100%;
    float: left;
}
.testimonial_profile {
    width: 375px;
    float: left;
    clip-path: polygon( 0 0, 100% 0, 85% 100%, 0 calc(100% - 0vw) );
}
.testimonial_content {
    float: left;
    width: 625px;
}
.testimonial.drak_gray {
    width: 100%;
    float: left;
    padding: 120px 0px;
}
.drak_gray {
    background: #F2F3F6;
}
.testimonial_content {
    float: left;
    width: 505px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 60px;
}
.company_logo {
    margin-bottom: 30px;
}
.company_logo img {
    width: auto !important;
}
.profile_content {
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 24px;
}
.profile_name {
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.profession {
    color: #333333;
    font-size: 20px;
    font-weight: lighter;
}
.testimonial_main {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}
.slider {
    margin-top: 40px;
}



/*.product-role */
.product-role .homeGrid_inr {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.product-role .homeSingleGrid {
    width: calc(25% - 4px);
    float: left;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 217px;
    text-align: center;
}
.product-role .homeSingleGridinr {
    padding: 45px 50px 0px 50px;
    width: calc(100% - 100px);
    float: left;
}
.product-role .homeSingleGridIcon {
    margin: 0 auto;
    width: 100%;
    float: left;
    height: 70px;
    margin-bottom: 20px;
}
.product-role .homeSingleGridIcon img {
    width: 60px;
}
.homeSingleGridContent {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
    line-height: 1.4;
    font-weight: 300;
}
.product-role-small_content {
    width: 100%;
    max-width: 740px;
    margin: 0px auto;
    font-size: 32px;
    font-weight: 300;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 75px;
}
.homeGrid.product-role {
    padding: 100px 0 70px 0px;
}
/*blog*/
.blog {
    width: 100%;
    float: left;
}
.blog_inr {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}
.blog_group {
    width: 100%;
    float: left;
}
.single_blog {
    width: 47%;
    float: left;
    border-radius: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    margin-bottom: 40px;
}
.single_blog:nth-child(2n) {
    float: right;
}
.featured_image img {
    width: 100%;
}
.content_blog {
    padding: 25px 40px 45px 40px;
}
.blog_title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #333333;
}
.blog_feature_content {
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
}
.blog_link a {
    color: #CB0A7A;
}
.blog_link {
    font-size: 16px;
    font-weight: bold;
}
.overlay {
    background: #00144C 0% 0% no-repeat padding-box;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100.2%;
    z-index: 9999;
    top: 0;
    opacity: 0.1;
}
.featured_image {
    position: relative;
}

/*testmonials */
.testmonials {
    width: 100%;
    float: left;
    padding: 100px 0px;
}
.testmonials_inr {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}


.testmonials_profile {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-top: 25px;
}
.testmonials .profile_name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 0;
    color: #333333;
    text-transform: uppercase;
    text-align: left;
    margin-top: 30px;
}
.testmonials .sub_title{
    text-align: left;
    margin-top: 4px;
}
.testmonials_profile img {
    border-radius: 50%;
}
.single_testmonial {
    width: 74%;
    float: left;
    padding: 6% 16% 0 16%;
}
.testmonials_content {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
}
.flex-direction-nav a.flex-next:before {
    content: '\f061' !important;
    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 8px;
}
.flex-direction-nav a:before{
    content: '\f060' !important;
    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 8px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover, .flexslider:hover .flex-direction-nav .flex-next , .flexslider .flex-direction-nav .flex-next{
    opacity: 1;
    font-size: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
}
.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: -50px !important;
}
.flexslider:hover .flex-direction-nav .flex-prev{
    opacity: 0.7;
    left: -50px !important;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover, .flexslider:hover .flex-direction-nav .flex-prev, .flexslider .flex-direction-nav .flex-prev{
    opacity: 1;
    font-size: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    opacity: 1;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
}
.testmonials_content:after {
    content: "\f10e";
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: relative;
    float: right;
    margin-right: -32px;
    color: #B3B3B3;
    margin-top: -23%;
}
.testmonials_content:before {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f10d";
    position: relative;
    left: -44px;
    top: -16px;
    margin-right: -16px;
    color: #B3B3B3;
}

/*accordion*/
.accordion {
    background-color: #fff;
    color: #333333;
    cursor: pointer;
    padding: 23px 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    border-top: 1px solid #dfdfdf;
    font-weight: bold;
}
  
  .active, .accordion:hover {
    background-color: #fff;
  }
  .panel p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
  .accordion:after {
    content: '\f107';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  .active:after {
    content: "\f106";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .faq {
    width: 100%;
    float: left;
    padding: 120px 0px;
}
.faq_main {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}

/* role based header */

.role_based_header_main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.role_based_header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000029;
    width: 100%;
    float: left;
}
.role_title span {
    color: #CB0A7A;
}
.try_byndr_btn {
    float: right;
    width: 33.33%;
    text-align: right;
    padding: 28px 0px;
}
.role_menu {
    width: 33.33%;
    float: left;
}
ul.menu {
    display: flex;
}
ul.menu li {
    font-size: 16px;
    font-weight: 400;
    padding: 29px 30px;
}
.role_title {
    font-size: 20px;
    font-weight: bold;
    width: 33.33%;
    float: left;
    padding: 28px 0px;
}
.role_title span {
    color: #CB0A7A;
}
li.current-page {
    border-bottom: 3px solid #CB0A7A;
}
.try_byndr_btn a {
    width: 100%;
    text-align: center;
    font: Bold 16px/19px Lato;
    letter-spacing: 0;
    color: #fff;
    border: 2px solid #CB0A7A;
    border-radius: 2px;
    opacity: 1;
    padding: 9px 24px;
    max-width: 136px;
    background: #CB0A7A;
}

